.ip-index
  .ip-title
    font-size: 26px
    margin-bottom: 20px

  .ip-group
    margin-bottom: 36px

  .cp-group
    margin-left: 24px
    margin-bottom: 22px

  .cp-title
    font-size: 21px
    margin-top: 0
    margin-bottom: 12px

    small
      font-size: 15px

  .cp-works
    font-size: 18px
    margin-top: 0
    margin-bottom: 0